.page { display: none; }
.page.active { display: block !important; }
.nav-active { color: #EAB308 !important; font-weight: 800; }
#side-menu { transition: 0.3s ease-in-out; transform: translateX(-100%); }
#side-menu.open { transform: translateX(0); }
.overlay { display: none; position: fixed; inset: 0; background: rgba(0,0,0,0.5); z-index: 40; }
.overlay.active { display: block; }

/* Rimuove l'effetto blu al click su mobile */
* { -webkit-tap-highlight-color: transparent; }
